{% extends 'boot/frame.twig.html' %}


{% block frame_global_style %}
<style type="text/css">
    #container .conteiner_wrap {padding:10px;}

    .pic-list li {  margin-bottom: 5px;  }
    .color-box { float:left;width:30px; height:30px;margin:5px;border: 1px solid #c2ccd1;}
    .item_attr{float: left;margin-right: 5px;margin-top: 10px;width: 36px;height: 18px;line-height: 18px;}
    .item_attr_input{width: 36px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    .item_prefix_input{width: 96px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    #smeta_prefix_select{width: 96px !important;margin-top:5px;}
    .table-bordered th{font-weight: 200;}

    .form-required {margin-left: 5px;}
</style>
{% endblock %}

{% block frame_head_script %}
<script type="application/javascript">
    GV = GV ? GV : {};
    GV.UPLOAD_HANDLE = '{{ asset_upload_url }}';
    var _extram_data = {
        admin_uid : "{{ admin_uid }}"
    }
    var app_extra_params='sys';
</script>
{% endblock %}

{% block frame_content %}
<div class="conteiner_wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{{ cate_index_url|default('#') }}">{{ cate_name }}</a></li>
        <li class="active"><a>
            {%if op=='add' %} 新增 {% else %} 编辑 {% endif %}
        </a></li>
    </ul>

    {% if error %}
    {% include 'error_box.twig.html' %}
    {% else %}

    <form action="" method="post" class="form-horizontal js-ajax-form" enctype="multipart/form-data">
        <div class="row-fluid">
            <div class="span9" id="table_container">
                <table class="table table-bordered">

                    <tr>
                        <th width="80">名称</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[name]" required value="{{ admin_account.name }}" placeholder="请输入名称"/>
                            <span class="form-required">*</span>
                            <span class="form-required">配置名称</span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">描述</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[desc]"  value="{{ admin_account.desc }}" placeholder=""/>
                            <span class="form-required">-</span>
                            <span class="form-required">配置说明</span>
                        </td>
                    </tr>

                </table>
                {% for key,val in admin_account.config %}
                <table id="tb_{{loop.index}}" class="table table-bordered config_item">
                    <blockquote id="block_{{loop.index}}">
                        <div style="height: 24px;">
                            <span style="float: left">配置</span>
                            <div style="float: right">
                                <a class="add_item" href="javascript:void(0);">添加项</a>
                                | <a class="del_item" rel="{{loop.index}}" href="javascript:void(0);">删除项</a>
                            </div>
                        </div>
                    </blockquote>
                    <tr>
                        <th width="80">健-key</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post_c[{{loop.index}}][key]"  value="{{ key }}" placeholder="请输入键名" />
                        </td>
                    </tr>
                    <tr>
                        <th width="80">值-value</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post_c[{{loop.index}}][val]"  value="{{ val }}" placeholder="请输入值" />
                        </td>
                    </tr>
                    <tr>
                        <th width="80">说明-desc</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post_c[{{loop.index}}][desc]"  value="{{ admin_account.config_desc[key] }}" placeholder="" />
                        </td>
                    </tr>
                </table>
                {% endfor %}

            </div>
            <div class="span3">
                <table class="table table-bordered">
                    <tr>
                        <td>锁定</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio"  name="post[lock]"  value="1" {% if admin_account.lock == 1 %} checked="checked"{% endif %} /> 锁定
                            &nbsp;&nbsp;
                            <input type="radio"  name="post[lock]"  value="0" {% if admin_account.lock == 0 %} checked="checked"{% endif %}/> 正常
                        </td>
                    </tr>
                    {%if op !='add' %}
                    <tr>
                        <td>创建时间 ： {{ admin_account.ctime|date("Y-m-d H:i:s")}}</td>
                    </tr>

                    <tr>
                        <td>修改时间 ： {{ admin_account.mtime|date("Y-m-d H:i:s")}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div id="template" style="display: none;">
            <table id="tb_@id@" class="table table-bordered config_item">
                <blockquote id="block_@id@">
                    <div style="height: 24px;">
                        <span style="float: left">配置</span>
                        <div style="float: right">
                            <a class="add_item" href="javascript:void(0);">添加项</a>
                            | <a class="del_item" rel="@id@" href="javascript:void(0);">删除项</a>
                        </div>
                    </div>
                </blockquote>
                <tr>
                    <th width="80">健-key</th>
                    <td>
                        <input type="text" style="width: 400px;" name="post_c[@id@][key]"  value="{{ key }}" placeholder="请输入键名" />
                    </td>
                </tr>
                <tr>
                    <th width="80">值-value</th>
                    <td>
                        <input type="text" style="width: 400px;" name="post_c[@id@][val]"  value="{{ val }}" placeholder="请输入值" />
                    </td>
                </tr>
                <tr>
                    <th width="80">说明-desc</th>
                    <td>
                        <input type="text" style="width: 400px;" name="post_c[@id@][desc]"  value="{{ desc }}" placeholder="" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-actions">
            <input type="hidden" name="post[uid]" value="{{ admin_account.id }}">
            <button class="btn btn-primary js-ajax-submit" type="submit">提交</button>
            <a class="btn" href="{{ cate_index_url|default('#') }}">返回</a>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
{% block frame_footer %}
<script type="application/javascript">
    Wind.use('artDialog');
    $(function(){

        var item_template = $('#template').html();
        var config_item_len =$('.config_item').length;

        function  add_item()
        {
            config_item_len = config_item_len+1;
            var item_template_str = item_template.replace(/@id@/g,config_item_len);
            $('#table_container').append(item_template_str);
            $('.add_item').unbind('click');
            $('.add_item').bind('click',function(){add_item();});
            $('.del_item').unbind('click');
            $('.del_item').bind('click',function(){del_item($(this));});
        }
        function  del_item(obj)
        {
            var $_this = $(obj).get(0);
            art.dialog({
                title: false,
                icon: 'question',
                content: '你确认删除？',
                follow: $_this,
                close: function () {
                    $_this.focus(); //关闭时让触发弹窗的元素获取焦点
                    return true;
                },
                ok: function () {

                    var rel_id = $(obj).attr('rel');
                    console.log(rel_id);
                    $('#block_'+rel_id).remove();
                    $('#tb_'+rel_id).remove();
                    check_item();
                },
                cancelVal: '关闭',
                cancel: true
            });


        }

        function check_item() {
            var check_len = $('.config_item').length;
            if (check_len<=1) {
                add_item();
            }
        }

        $('.add_item').click(function(){
            add_item();
        });

        $('.del_item').click(function(){
            del_item($(this));
        });

        check_item();
    });
</script>

{% endblock %}